---
import Base from "../layouts/Base.astro";
import people from "../data/people.json";

import dotsSmall from "../assets/3x4bluedots.svg";
import dotsLarge from "../assets/4x7grydots.svg";
import triangleSmall from "../assets/lilredtriangle.svg";
import triangleLarge from "../assets/biggrntri.svg";
import scrollArrow from "../assets/scroll_arrow.svg";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<style>
  header {
    margin-top: 50px;
    position: relative;
    min-height: calc(100vh - 250px);
  }

  .upenn {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }

  .hero {
    line-height: 1;
  }

  .shapes {
    position: absolute;
    top: 10px;
    right: 0;
    height: 300px;
  }

  .shapes div {
    position: absolute;
    transition:
      top 0.5s ease-out,
      right 0.5s ease-out,
      bottom 0.5s ease-out;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .dots-small {
    height: 73px;
    width: 60px;
    right: 130px;
    top: 20px;
  }

  .shapes:hover .dots-small {
    right: 170px;
  }

  .dots-large {
    height: 130px;
    width: 85px;
    right: -40px;
    top: 190px;
  }

  .shapes:hover .dots-large {
    top: 150px;
    right: -20px;
  }

  .triangle-small {
    height: 151px;
    width: 175px;
    right: -80px;
    top: -20px;
  }

  .shapes:hover .triangle-small {
    top: -50px;
    right: -120px;
  }

  .triangle-large {
    height: 366px;
    width: 423px;
    right: -110px;
    top: 0;
  }

  .shapes:hover .triangle-large {
    top: 60px;
    right: -80px;
  }

  .scroll-indicator {
    margin-bottom: 20px;

    color: var(--gray);
    font-weight: 700;
  }

  .scroll-arrow {
    height: 20px;
    width: 34px;
  }

  hr {
    height: 1px;
    border: none;
    background-color: #000000;
  }

  .people {
    background: linear-gradient(#fff 0, #fbd3de 5%, #ee3d6e 20%);
  }

  .people-cards {
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 30px;
    margin-top: 3rem;
    padding-bottom: 3rem;
  }

  .divider {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .divider hr {
    border-color: white;
    background-color: white;
  }

  .news {
    background: linear-gradient(
      #ee3d6e,
      #ad518a 3%,
      #4a72b7 10%,
      #4884ab 40%,
      #46a29b 70%,
      #4a72b7 100%
    );
  }

  .news-cards {
    padding-bottom: 25rem;
  }
</style>

<Base>
  <header class="content-width">
    <h1 class="upenn gray f-large uppercase">University of Pennsylvania</h1>
    <h1 class="hero lowercase">
      <span class="denim">Human</span><br /><span class="red">Computer</span><br
      /><span class="navy">Interaction</span>
    </h1>
    <p class="dark-gray f-large">
      Welcome to Penn HCI! Located in the University of Pennsylvania’s Computer
      and Information Science Department, our group studies a range of topics in
      Human-Computer Interaction with the goal of understanding, designing,
      engineering, and improving technologies to make a positive impact on
      individuals and communities.
    </p>
    <div class="shapes">
      <div class="dots-small"><img src={dotsSmall.src} /></div>
      <div class="dots-large"><img src={dotsLarge.src} /></div>
      <div class="triangle-small"><img src={triangleSmall.src} /></div>
      <div class="triangle-large"><img src={triangleLarge.src} /></div>
    </div>
  </header>

  <div
    class="scroll-indicator flex-col align-center justify-center margin-center"
  >
    scroll
    <div class="scroll-arrow"><img src={scrollArrow.src} /></div>
  </div>

  <hr class="content-width" />

  <section class="people">
    <div class="content-width">
      <h2 class="navy lowercase">People</h2>
      <p class="f-large">
        Penn HCI is founded and led by Assistant Professors Andrew Head and
        Danaé Metaxa.
      </p>
    </div>

    <div class="people-cards content-width flex-row">
      {
        people.map((person) => (
          <div class="profile-card">
            <img class="headshot" src={person.picture} />
            <div class="card-body flex-grow">
              <h4 class="f-large">{person.name}</h4>
              <p>
                {person.role}, {person.affiliation}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <section class="news">
    <div class="content-width divider">
      <hr class="white" />
    </div>

    <div class="content-width">
      <h2 class="white lowercase">News</h2>
    </div>

    <div class="news-cards content-width flex-row">hi</div>
  </section>
</Base>
