---
import Base from "../layouts/Base.astro";
import peopleByCategory from "../data/people.json";
import newsItems from "../data/news.json";
import { marked } from "marked";

const renderedNews = newsItems.map((item) => ({
  ...item,
  html: marked.parse(item.content),
}));
import "../styles/index.scss";

import dotsSmall from "../assets/3x4bluedots.svg";
import dotsLarge from "../assets/4x7grydots.svg";
import triangleSmall from "../assets/lilredtriangle.svg";
import triangleLarge from "../assets/biggrntri.svg";

const CATEGORY_NAMES = {
  pis: "Faculty",
  postdocs: "Postdocs",
  phds: "PhD Students",
  students: "Students",
  collaborators: "Collaborators",
};
---

<Base>
  <header class="home-hero">
    <div class="home-hero__container content-width">
      <h1 class="home-hero__upenn">University of Pennsylvania</h1>
      <h1 class="home-hero__title">
        <span class="denim">Human</span><br /><span class="red">Computer</span
        ><br /><span class="navy">Interaction</span>
      </h1>
      <p class="home-hero__subtitle">
        Welcome to Penn HCI! Located in the University of Pennsylvania’s
        Computer and Information Science Department, our group studies a range
        of topics in Human-Computer Interaction with the goal of understanding,
        designing, engineering, and improving technologies to make a positive
        impact on individuals and communities.
      </p>
      <div class="home-hero__shapes">
        <div class="home-hero__dots--small"><img src={dotsSmall.src} /></div>
        <div class="home-hero__dots--large"><img src={dotsLarge.src} /></div>
        <div class="home-hero__triangle--small">
          <img src={triangleSmall.src} />
        </div>
        <div class="home-hero__triangle--large">
          <img src={triangleLarge.src} />
        </div>
      </div>
    </div>
  </header>
  <section class="news">
    <div class="news__divider content-width">
      <hr />
    </div>

    <div class="news__list content-width">
      <h2 class="news__title">News</h2>
      {
        renderedNews.map((item) => (
          <div class="news__item">
            <div class="news__item-date">{item.date}</div>
            <div class="news__item-content" set:html={item.html} />
          </div>
        ))
      }
    </div>
  </section>

  <div class="content-width">
    <hr />
  </div>

  <section class="people">
    <div class="content-width">
      <h2 class="people__title">People</h2>
      {
        Object.entries(CATEGORY_NAMES)
          .filter(([category, _]) =>
            ["pis", "postdocs", "phds"].includes(category),
          )
          .map(([category, name]) => (
            <>
              <h3 class="people__subheading">{name}</h3>
              <div class="people__cards">
                {peopleByCategory[
                  category as keyof typeof peopleByCategory
                ].map((person) => (
                  <a
                    class="profile-card"
                    href={person.website}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      class="headshot"
                      src={`${import.meta.env.BASE_URL}${person.picture}`}
                    />
                    <div class="card-body flex-grow">
                      <h4 class="f-large">{person.name}</h4>
                      <p>
                        {person.role}, {person.affiliation}
                      </p>
                    </div>
                  </a>
                ))}
              </div>
            </>
          ))
      }
    </div>
  </section>
</Base>
