---
import Base from "../layouts/Base.astro";
import peopleByCategory from "../data/people.json";
---

<Base title="People">
  <section class="people-page">
    <div class="people-page__container content-width">
      <h2 class="people-page__title">People</h2>
    </div>

    <div class="content-width">
      <h3 class="people-page__group-title">Faculty</h3>
    </div>
    <div class="people-page__cards content-width">
      {
        peopleByCategory.pis.map((person) => (
          <a
            class="profile-card"
            href={person.website}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img class="headshot" src={person.picture} />
            <div class="card-body flex-grow">
              <h4 class="f-large">{person.name}</h4>
              <p>
                {person.role}, {person.affiliation}
              </p>
            </div>
          </a>
        ))
      }
    </div>

    <div class="content-width">
      <h3 class="people-page__group-title">Postdocs</h3>
    </div>
    <div class="people-page__cards content-width">
      {
        peopleByCategory.postdocs.map((person) => (
          <a
            class="profile-card"
            href={person.website}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img class="headshot" src={person.picture} />
            <div class="card-body flex-grow">
              <h4 class="f-large">{person.name}</h4>
              <p>
                {person.role}, {person.affiliation}
              </p>
            </div>
          </a>
        ))
      }
    </div>

    <div class="content-width">
      <h3 class="people-page__group-title">PhD Students</h3>
    </div>
    <div class="people-page__cards content-width">
      {
        peopleByCategory.phds.map((person) => (
          <a
            class="profile-card"
            href={person.website}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img class="headshot" src={person.picture} />
            <div class="card-body flex-grow">
              <h4 class="f-large">{person.name}</h4>
              <p>
                {person.role}, {person.affiliation}
              </p>
            </div>
          </a>
        ))
      }
    </div>

    <div class="content-width">
      <h3 class="people-page__group-title">Students</h3>
    </div>
    <div class="people-page__cards content-width">
      {
        peopleByCategory.students.map((person) => (
          <a
            class="profile-card"
            href={person.website}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img class="headshot" src={person.picture} />
            <div class="card-body flex-grow">
              <h4 class="f-large">{person.name}</h4>
              <p>
                {person.role}, {person.affiliation}
              </p>
            </div>
          </a>
        ))
      }
    </div>

    <div class="content-width">
      <h3 class="people-page__group-title">Collaborators</h3>
    </div>
    <div class="people-page__cards content-width">
      {
        peopleByCategory.collaborators.map((person) => (
          <a
            class="profile-card"
            href={person.website}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img class="headshot" src={person.picture} />
            <div class="card-body flex-grow">
              <h4 class="f-large">{person.name}</h4>
              <p>
                {person.role}, {person.affiliation}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Base>
