---
import Base from "../layouts/Base.astro";
import peopleByCategory from "../data/people.json";
---

<Base title="People">
  <section class="people-page">
    <div class="people-page__container content-width">
      <h2 class="people-page__title">People</h2>
      <p class="people-page__subtitle">Meet the members of Penn HCI.</p>
    </div>

    <div class="people-page__cards content-width">
      {
        [
          ...peopleByCategory.pis,
          ...peopleByCategory.phds,
          ...peopleByCategory.students,
          ...peopleByCategory.collaborators,
        ].map((person) => (
          <a
            class="profile-card"
            href={person.website}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img class="headshot" src={person.picture} />
            <div class="card-body flex-grow">
              <h4 class="f-large">{person.name}</h4>
              <p>
                {person.role}, {person.affiliation}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Base>
