---
import Base from "../layouts/Base.astro";
import publications from "../data/publications.json";

import "../styles/publications.scss";

import dots from "../assets/4x4grydots.svg";
import circleSmall from "../assets/lilredcircle.svg";
import circleLarge from "../assets/biggrncircle.svg";
---

<Base title="Publications">
  <section class="publications-page">
    <div class="publications-page__container content-width">
      <h2 class="publications-page__title">Publications</h2>
      <div class="publications-page__shapes">
        <div class="publications-page__shapes__dots">
          <img src={dots.src} />
        </div>
        <div class="publications-page__shapes__circle--small">
          <img src={circleSmall.src} />
        </div>
        <div class="publications-page__shapes__circle--large">
          <img src={circleLarge.src} />
        </div>
      </div>
    </div>

    <div class="publications-page__list content-width">
      {
        publications.map((pub) => (
          <div class="publication">
            {pub.image && (
              <img
                class="publication__image"
                src={`${import.meta.env.BASE_URL}${pub.image}`}
              />
            )}
            <div class="publication__content">
              <div class="publication__title">{pub.title}</div>
              <div class="publication__authors">{pub.authors}</div>
              <div class="publication__venue">
                {pub.venue} {pub.year}
              </div>
              {pub.pdf && (
                <div>
                  <a class="publication__pdf" href={pub.pdf}>
                    pdf
                  </a>
                </div>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </section>
</Base>
