---
import Base from "../layouts/Base.astro";
import publications from "../data/publications.json";
---

<Base title="Publications">
  <section class="publications-page">
    <div class="publications-page__container content-width">
      <h2 class="publications-page__title">Publications</h2>
      <p class="publications-page__subtitle">
        Selected publications from Penn HCI.
      </p>
    </div>

    <div class="publications-page__list content-width">
      {
        publications.map((pub) => (
          <div class="publications-page__item">
            <div class="f-large">{pub.title}</div>
            <div class="dark-gray">{pub.authors}</div>
            <div class="gray">
              {pub.venue} {pub.year}
            </div>
            {pub.url && (
              <div>
                <a class="nav-link" href={pub.url}>
                  link
                </a>
              </div>
            )}
          </div>
        ))
      }
    </div>
  </section>
</Base>
